page-local-model {
    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 16px;
    }

    .m_canvas {
        margin-top: 16px;
        margin-left: 16px;
        max-width: 100%;
    }

    .result-section {
        margin: -16px 16px 0 -16px;
    }

    .button-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .action-button {
        // min-width: 45%;
        flex-basis: 45%;
    }

    .ma {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

}
